<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="p-3">
        <table class="table-fixed">
            <thead>
              <tr>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">Catgory Name</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">Product Name</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">Year of Manufacturing</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">KM Driven</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">Fuel Type</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">Price</th>
                <th class="border-b bg-black text-white w-1/4 px-4 py-2"> Product Image</th>
                <th class="border-b bg-black text-white w-1/4 px-4 py-2">Edit</th>
                <th class="border-b bg-black text-white w-1/4 px-4 py-2">Delete</th>
              </tr>
            </thead>
             {% for d in product %}
            <tbody>
              <tr>
                  <td>{{d.CataName3}}</td>
                  <td>{{d.ProName3}}</td>
                  <td>{{d.Proyear}}</td>
                  <td>{{d.Prokms}}</td>
                  <td>{{d.Profuel}}</td>
                  <td>{{d.ProPrice}}</td>
                  <td>
                    <img src="{{d.ProImage6.url}}" width="250px" height="150px">
                  </td>

                  <td>
                    <form action="{% url 'editcarpage' productid=d.id %}">
                      <button type="submit">Edit</button>
                    </form>
                  </td>

                  <td>
                    <form action="{% url 'deletecars' productid=d.id %}">
                      <button type="submit">Delete</button>
                    </form>
                  </td>
              </tr>

            </tbody>
             {% endfor %}
        </table>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                    swal('{{i}}','','warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                    swal('{{i}}','','error');
                </script>
            {% else %}
                <script>
                    swal('{{i}}','','success');
                </script>
            {% endif %}
        {% endfor %}
    {%endif%}

</body>
</html>
{% endblock %}