<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="p-3">
        <table class="table-fixed">
            <thead>
              <tr>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">User name</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">User Mail</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">User Mobile</th>
                <th class="border-b bg-black text-white w-1/2 px-4 py-2">User Image</th>
                <th class="border-b bg-black text-white w-1/4 px-4 py-2">Delete</th>
              </tr>
            </thead>
             {% for l in logd %}
            <tbody>
              <tr>
                  <td>{{l.Name}}</td>
                  <td>{{l.Email}}</td>
                  <td>{{l.Mobile}}</td>
                  <td>
                      <img src="{{l.Image.url}}" width="100px" height="100px">
                  </td>

                  <td>
                    <form action="{% url 'deletelog' loginnid=l.id %}">
                      <button type="submit">Delete</button>
                    </form>
                  </td>
              </tr>

            </tbody>
             {% endfor %}
        </table>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                    swal('{{i}}','','warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                    swal('{{i}}','','error');
                </script>
            {% else %}
                <script>
                    swal('{{i}}','','success');
                </script>
            {% endif %}
        {% endfor %}
    {%endif%}

</body>
</html>
{% endblock %}