<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-xl-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Basic Form</h6>
                            <form method="post" action="{% url 'updatecar' productid=product.id %}" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="mb-3">
                                    <label for="input-1">Brand of Cars</label>
                                    <select class="form-control"   id="input-1"  name="catagoryname3" >
                                        <option>{{product.CataName3}}</option>
                                        <option>Select Brand</option>
                                        {% for d in brnd %}
                                        <option>{{ d.Name3 }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Enter Car Name</label>
                                    <input type="text" class="form-control" name="proname3" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{product.ProName3}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Enter Year of Manufacturing</label>
                                    <input type="number" class="form-control" name="proyear" id="exampleInputPassword1" value="{{product.Proyear}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Enter Kilometer driven</label>
                                    <input type="number" class="form-control" name="prokm" id="exampleInputPassword1" value="{{product.Prokms}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Enter Fuel type</label>
                                    <input type="text" class="form-control" name="profuel" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{product.Profuel}}">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Enter Car Price</label>
                                    <input type="number" class="form-control" name="proprice3" id="exampleInputPassword1" value="{{product.ProPrice}}">
                                </div>

                                <div class="mb-3">
                                   <label for="input-image">Upload the Car image</label>
                                    <img src="{{product.ProImage6.url}}" width="100px" height="100px">
                                   <input type="file" class="form-control" id="input-image" name="proimage6">
                                </div>
<!--                                <div class="mb-3 form-check">-->
<!--                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                                </div>-->
                                <button type="submit" class="btn btn-primary">Update Details</button>
                            </form>
                        </div>
                    </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
                <script>
                    swal('{{i}}','','warning');
                </script>
            {% elif i.tags == 'error' %}
                <script>
                    swal('{{i}}','','error');
                </script>
            {% else %}
                <script>
                    swal('{{i}}','','success');
                </script>
            {% endif %}
        {% endfor %}
    {%endif%}
</body>
</html>
{% endblock %}